openapi: 3.0.1
info:
  title: IP Echo
  version: 1.1.0
  description: A simple no-logs Cloudflare Worker that returns the caller's IP address. You can read IP Echo's source code at [git.average.name](https://git.average.name/AverageHelper/ip-echo-cloudflare).
  license:
    name: GNU General Public License v3.0
    url: https://git.average.name/AverageHelper/ip-echo-cloudflare/src/branch/main/LICENSE
servers:
  - url: https://ip.average.name
paths:
  "/":
    get:
      tags:
        - echo
      summary: Get the caller's IP address
      operationId: ip
      security: [] # No security, public info
      responses:
        200:
          description: The caller's IP address is in the body.
          content:
            text/plain:
              schema:
                type: string
                example: 127.0.0.1
            application/json:
              schema:
                type: string
                example: "127.0.0.1"
        500:
          description: The caller's IP address could not be determined, most likely due to a server configuration error.
  "/about":
    get:
      tags:
        - meta
      summary: Get some metadata about the project
      operationId: meta
      security: [] # No security, public info
      responses:
        200:
          description: Some metadata about the project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  repo:
                    type: string
                    example: "https://git.average.name/AverageHelper/ip-echo-cloudflare"
                  title:
                    type: string
                    example: "IP Echo"
                  version:
                    type: string
                    example: "1.1.0"
